	RewriteEngine On
    RewriteBase /
    RewriteRule ^([A-Za-z0-9\_\s]+)$ /index.php?page=$1 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/$ /index.php?page=$1 [QSA,L,NC]
    RewriteRule ^YummyAsPie/([A-Za-z0-9\_\s]+)/$ /index.php?page=admin/admin&adp=$1 [QSA,L,NC]
    RewriteRule ^YummyAsPie/locations/([A-Za-z0-9\_\s]+)/$ /index.php?page=admin/admin&adp2=$1 [QSA,L,NC]
    RewriteRule ^rp/([A-Za-z0-9\_\s]+)$ /index.php?rc_view=$1 [QSA,L,NC]
    RewriteRule ^rp/([A-Za-z0-9\_\s]+)/$ /index.php?rc_view=$1 [QSA,L,NC]
    RewriteRule ^member/([A-Za-z0-9\_\s]+)$ /index.php?profile=$1 [QSA,L,NC]
    RewriteRule ^member/([A-Za-z0-9\_\s]+)/$ /index.php?profile=$1 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)$ /index.php?page=$1&pee=$2&fsp=$2 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/$ /index.php?page=$1&pee=$2&fsp=$2 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)$ /index.php?page=$1&pee=$2&fsp=$2&fsid=$3 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/$ /index.php?page=$1&pee=$2&fsp=$2&fsid=$3 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)$ /index.php?page=$1&pee=$2&fsp=$2&fsid=$3&fsid2=$4 [QSA,L,NC]
    RewriteRule ^([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/([A-Za-z0-9\_\s]+)/$ /index.php?page=$1&pee=$2&fsp=$2&fsid=$3&fsid2=$4 [QSA,L,NC]