.navbar-text A:link,.navbar-text A:active,.navbar-text A:visited {
color:#CCC;
text-decoration:none;
}
.navbar-text A:hover {
color:#DDD;
text-decoration:none;
}
.panel-primary A:link,.panel-primary A:active,.panel-primary A:visited {
color:#36F;
text-decoration:none;
}
.panel-primary A:hover {
color:#CCC;
text-decoration:none;
}